:root{
    --light:var(--light)
    --medium:var(--light)
    --dark:
}
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e8f4f8;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: lightblue;
    color: grey;
}
main{
    max-width: 796px;
    margin: auto;
}

nav {
    padding: 12px;
}

nav a {
    text-decoration: none;
    color: grey;
    margin-left: 8px;
}

section {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

article {
    width: calc(50% -16px);
    margin-bottom: 12px;
    padding: 8px;
}

article:first-of-type {
    width: 100%;
}

h2 {
    margin-bottom: 8px;
    text-align: center;
}

img {
    margin: 8px 0;
}

#about-me {
    text-align: center;
    align-items: center;
}

#about-me img {
    max-width: 200px;
}

#work img {
    width: 100%;
    
}

#work div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
/* need to center the links */ 
#contact div {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

footer{
    text-align: center;
}

@media screen and (max-width:576px {
        header {
            flex-direction: column;
        }

        nav a {
            margin: 4px;
        }
    
        article {
            width: 100%;

        }
    }